.form_container {
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
}

.form_container input[type="submit"] {
  background-color: #1ca43c;
  color: #fff;
  padding: 0.5em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 100px;
  min-height: 2.5em;
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
}

.form_container input[type="submit"]:hover {
  background-color: #127028;
}

.form_container p {
  margin-top: 1em;
}

.form_container p a {
  color: #1ca43c;
  text-decoration: underline;
  font-weight: bold;
}
